.color-white{
	color: #fff;
}
.nfr-section-1{
	padding: 75px 0 0;
}
.nfn-sec-yellow-title-01{
	text-align: center;
}
.nfn-sec-yellow-title-01 h2{
	display: inline-block;
	vertical-align: baseline;
	padding: 20px 100px 20px 55px;
	background-repeat: no-repeat!important;
	margin-bottom: 15px;
}