.nfn-section-1-desc{
	min-height: 569px;
	position: relative;
	padding: 30px 100px 20px 30px;
	max-width: 75%;
	width: 100%;
}
.nfn-section-1-img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	margin-right: -20px;
	z-index: 2;
}
.nfn-section-1-desc-title h1{
	font-weight: 600;
	display: inline-block;
	color: #0194d4;
	margin-bottom: 30px;
}
.nfn-section-2{

}
.nfn-section-2-hdr{
	padding: 22px 50px 0 50px;
}
.nfn-section-2-hdr h1{
	font-weight: 600;
	display: inline-block;
	color: #0194d4;
	margin-bottom: 30px;
	text-align: center;
}
.nfn-section-2-sub-1{
}
.nfn-section-2-sub-1-img-cntlr{
}
.nfn-section-2-sub-1-img{
	text-align: center;
}
.nfn-section-2-sub-1-desc{
}
.nfn-section-2-sub-2{
	padding-bottom: 20px;
}
.nfn-section-3{

}
.nfn-section-3-hdr{
	min-height: 166px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 45px;
}
.nfn-section-3-hdr h1{
	font-weight: 600;
	display: inline-block;
	color: #fff;
	margin-bottom: 0;
	text-align: center;
	line-height: 1;
}
.nfn-section-3-sub-con-2-innr{
	padding-bottom: 15px;
}
.nfn-section-3-sub-con-3-inr{
	margin-bottom: 30px;
}
.nfn-section-3-sub-con-4-innr{
	padding-bottom: 13px;
}
.nfn-section-4{
	margin-bottom: 55px;
}
.nfn-section-4-cntlr{
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.nfn-section-4-hdr{
	margin-top: 3px;
	min-height: 245px;
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	background: #007ab5;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 5px solid #ff9c00;
	padding: 0 68px;
	margin-bottom: 45px;
}
.nfn-section-4-hdr h1{
	color: #fff;
	font-size: 600;
	display: inline-block;
	line-height: 1.1;
	margin-bottom: 0;
}
.nfn-section-4-hdr-yellow{
	color: #ffaa24;
}
.nfn-section-4-sub-con-1{
	margin-bottom: 45px;
}
.nfn-section-4-sub-con-2-hdr{
	text-align: center;
	padding: 0 50px;
}
.nfn-section-4-sub-con-2-hdr h1{
	font-weight: 600;
	display: inline-block;
	color: #0194d4;
	margin-bottom: 30px;
}
.nfn-section-4-sub-con-3{

}
.nfn-section-4-sub-con-4-fea-img{
	padding-right: 30px;
}
.nfn-section-4-sub-con-4-desc{
	padding-left: 30px;
}
.nfn-section-4-sub-con-4-desc > ul >li{
	line-height: 1.2;
	margin-bottom: 30px;
	padding-left: 42px;
	position: relative;
}
.nfn-section-4-sub-con-4-desc > ul >li:after{
	position: absolute;
	display: inline-block;
	content: "";
	z-index: 2;
	left: 0;
	top: 0;
	margin-top: 5px;
	width: 27px;
	height: 19px;
	background: url('assets/images/nfn-list-items-img.png');
}
.nfn-section-4-sub-con-4-desc p:last-child{
	line-height: 1;
	margin-bottom: 25px;
}
.nfn-section-5{

}
.nfn-section-5-hdr{
	padding: 10px 0 15px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: #007ab5;
	position: relative;
	border-bottom: 8px solid #ff9c00;
	min-height: 238px;
}
.nfn-section-5-hdr h1{
	font-weight: 600;
	display: inline-block;
	color: #fff;
	margin-bottom: 0;
    text-shadow: 0 2px 0 #0071a7;
}
.nfn-section-5-sun-con-2-fea-img{
	margin-left: -120px;
}
.nfn-section-5-sun-con-2-desc{
	padding-top: 55px;
}
.nfn-section-5-sub-con-3{
	min-height: 166px;
	padding: 10px 50px 15px 50px;
	text-align: center;
	margin-bottom: 55px;
}
.nfn-section-5-sub-con-3 h1{
	color: #fff;
	display: inline-block;
	font-size: 600;
	margin-bottom: 0;
	text-shadow: 0 2px 0 #ff9c00;
}
.nfn-section-5-sub-con-4-fea-img{
	margin-bottom: 30px;
	padding-top: 22px;
}
.nfn-section-5-sub-con-4-desc{
	margin-bottom: 30px;
}
.nfn-section-5-sub-con-4-desc p u{
	text-decoration: underline;
    text-decoration-color: #ff9c00;
}
.nfn-section-5-sub-con-5-fea-img{

}
.nfn-section-5-sub-con-5-desc{
	
}
.nfn-section-5-sub-con-5-desc p u{
	text-decoration: underline;
    text-decoration-color: #ff9c00;
}
.nfn-section-6{
	background: #0193d2;
}
.nfn-section-6-hdr{
	text-align: center;
	padding: 10px 50px 15px 50px;
}
.nfn-section-6-hdr h1{
	font-size: 600;
	color: #fff;
	display: inline-block;
}
.nfn-section-6-sub-con-1-desc p{
	color: #fff;
}
.nfn-section-6-sub-con-2-desc p u{
	text-decoration: underline;
    text-decoration-color: #ff9c00;
}