.nfn-section-1{
	padding-top: 50px;
}
.nfn-section-1-desc{
	position: relative;
	padding: 30px 105px 20px 30px;
	max-width: 75%;
	width: 100%;
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.nfn-section-1-img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 0;
	margin-right: -5px;
	z-index: 2;
}
.nfn-section-1-desc-title h1{
	display: inline-block;
	color: #0194d4;
	margin-bottom: 30px;
}
.nfn-section-2{

}
.nfn-section-2-hdr{
	padding: 30px 50px 0 50px;
	text-align: center;
}
.nfn-section-2-hdr h1{
	color: #0194d4;
	margin-bottom: 22px;
	text-align: center;
}

.nfn-section-2-sub-1-desc{
	padding-top: 25px;
}
.nfn-section-2-sub-2{
	padding-bottom: 20px;
}
.nfn-section-3{

}
.nfn-section-3-hdr{
	text-align: center;
	padding: 15px 0px 21px 0px;
	margin-bottom: 45px;
	background-position: center center!important;
	background-size: 100% 100%!important;
	background-repeat: no-repeat!important;
}
.nfn-section-3-hdr h1{
	color: #fff;
	margin-bottom: 0;
	line-height: 1;
}
.nfn-section-3-sub-con-2-innr{
	padding-bottom: 20px;
}
.nfn-section-3-sub-con-3-inr{
	margin-bottom: 30px;
}
.nfn-section-3-sub-con-4-innr{
	padding-bottom: 15px;
}
.nfn-section-4{
	margin-bottom: 55px;
}
.nfn-section-4-cntlr{
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.nfn-section-4-hdr{
	margin-top: 3px;
	width: 100%;
	text-align: center;
	background: #007ab5;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 5px solid #ff9c00;
	padding: 10px 68px 15px 68px;
	margin-bottom: 45px;
}
.nfn-section-4-hdr h1{
	color: #fff;
	margin-bottom: 0;
}
.nfn-section-4-hdr-yellow{
	color: #ffaa24;
}
.nfn-section-4-sub-con-1{
	margin-bottom: 20px;
}
.nfn-section-4-sub-con-2-hdr{
	text-align: center;
	padding: 0 50px;
}
.nfn-section-4-sub-con-2-hdr h1{
	color: #0194d4;
	margin-bottom: 35px;
}
.nfn-section-4-sub-con-3{

}
.nfn-section-4-sub-con-4-fea-img{
	padding-right: 30px;
}
.nfn-section-4-sub-con-4-desc{
	padding-left: 30px;
}
.nfn-section-4-sub-con-4-desc > ul > li{
	line-height: 1.2;
	margin-bottom: 30px;
	padding-left: 42px;
	position: relative;
}
.nfn-section-4-sub-con-4-desc > ul > li span{
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	margin-top: 5px;
	width: 27px;
	height: 19px;
	background-size: 100% auto!important;
}
.nfn-section-4-sub-con-4-desc p:last-child{
	line-height: 1;
	margin-bottom: 25px;
}
.nfn-section-5{

}
.nfn-section-5-hdr{
	padding: 13px 0 29px;
	text-align: center;
	background: #007ab5;
	position: relative;
	border-bottom: 8px solid #ff9c00;
}
.nfn-section-5-hdr h1{
	color: #fff;
	margin-bottom: 0;
    text-shadow: 0 2px 0 #0071a7;
}
.nfn-section-5-sun-con-2-fea-img{
	margin-left: -120px;
}
.nfn-section-5-sun-con-2-desc{
	padding-top: 60px;
	padding-bottom: 45px;
}
.nfn-section-5-sub-con-3{
	padding: 7px 50px 26px 50px;
	text-align: center;
	margin-bottom: 55px;
	background-size: 100% 100%!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.nfn-section-5-sub-con-3 h1{
	color: #fff;
	margin-bottom: 0;
	text-shadow: 0 2px 0 #ff9c00;
}
.nfn-section-5-sub-con-4-fea-img{
	margin-bottom: 20px;
	padding-top: 15px;
}
.nfn-section-5-sub-con-4-desc{
	margin-bottom: 30px;
}
.nfn-section-5-sub-con-4-desc p u{
	text-decoration: underline;
    text-decoration-color: #ff9c00;
}
.nfn-section-5-sub-con-5-fea-img{
	margin-bottom: 48px;

}
.nfn-section-5-sub-con-5-desc{
	
}
.nfn-section-5-sub-con-5-desc p u{
	text-decoration: underline;
    text-decoration-color: #ff9c00;
}
.nfn-section-6{
	padding-bottom: 30px;

}
.nfn-section-6-hdr{
	text-align: center;
	padding: 10px 50px 15px 50px;
}

.nfn-section-6-sub-con-1-desc{
	padding-bottom: 15px;
}

.nfn-section-6-sub-con-2-desc p u{
	text-decoration: underline;
    text-decoration-color: #ff9c00;
}
/* responsive */
@media(max-width: 1399px){
	.nfn-section-5-sun-con-2-fea-img{
		margin-left: -80px;
	}
}
@media(max-width: 1199px){
br{
	display: none;
}
	.nfn-xl-center{
		text-align: center!important;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;
	}
	.nfn-section-1{
		padding-top: 30px;
	}
	.nfn-section-1-img{
		position: static;
		left: 0;
		top: 0;
		transform: translateY(0);
		margin-right: 0;
	}
	.nfn-section-2-sub-1-desc{
		padding-top: 0;
	}
	.nfn-section-1-desc{
		max-width: 100%;
		padding: 30px 30px 10px 30px;
		min-height: 0;
	}
	.nfn-section-1-desc-title h1{
		text-align: center;
	}
	.nfn-section-2-hdr{
		padding: 30px 0 0 0;
	}
	.nfn-section-2-sub-1-desc{
		margin-bottom: 30px;
	}
	.nfn-section-3-hdr{
		margin-bottom: 30px;
	}
	.nfn-section-3-sub-con-3-inr{
		margin-bottom: 0;
	}
	.nfn-section-4-hdr{
		padding: 10px 10px 15px 10px;
		margin-bottom: 30px;
	}
	.nfn-section-4-sub-con-1-fea-img,
	.nfn-section-4-sub-con-1-desc,
	.nfn-section-4-cntlr .nfn-section-4-sub-con-3,
	.nfn-section-4-sub-con-4-desc{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	.nfn-section-4-sub-con-1{
		margin-bottom: 0;
	}
	.nfn-section-4-sub-con-2-hdr{
		padding: 0 15px;
	}
	.nfn-section-4-sub-con-2-hdr h1{
		margin-bottom: 30px;
	}
	.nfn-section-4{
		margin-bottom: 35px;
	}
	.nfn-section-5-sub-con-3{
		margin-bottom: 30px;
		padding: 7px 30px 26px 30px; 
	}
	.nfn-section-5-sun-con-2-fea-img{
		margin-left: 0;
	}
	.nfn-section-5 .nfn-xl-center{
		padding-bottom: 0!important;
	}
	.nfn-section-5-sun-con-2-desc{
		padding-top: 0;
		padding-bottom: 20px;
	}
	.nfn-section-5-sub-con-5-fea-img{
		margin-bottom: 30px;
	}
	.nfn-section-5-sub-con-5-desc{
		padding-bottom: 20px;
	}
}
@media(max-width: 991px){
	.p23-cntlr .col-md-12.col-lg-6{
		width: 100%!important;
	}
}
@media(max-width: 767px){
	
}
@media(max-width: 640px){
	.nfn-section-3-hdr,
	.nfn-section-5-sub-con-3{
		padding: 7px 30px 26px 30px; 
		border-top-right-radius: 10px;
    	border-top-left-radius: 10px;
	}
}
@media(max-width: 576px){
	
}
@media(max-width: 479px){
	.nfn-section-3-hdr,
	.nfn-section-5-sub-con-3{
		padding: 7px 10px 26px 10px;
		background-size: cover!important;
	}
}