@font-face {
    font-family: 'Antonio';
    src: url('assets/fonts/Antonio/Antonio-Bold.woff2') format('woff2'),
        url('assets/fonts/Antonio/Antonio-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

