@font-face {
    font-family: 'Antonio';
    src: url('Antonio-Bold.woff2') format('woff2'),
        url('Antonio-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

